header
    .header
        .header__container
            .logo-header-user__wrap
                include  ../../../logo/logo.pug
            .nav-user__wrap 
                include  ../../../nav/nav.pug
            .header-user__user
                +user("Юлий Цезарь")
            button.burger
                span.burger__item 
                span.burger__item 
                span.burger__item