.logo-header-user__wrap {
    margin-left: 1.1rem;
}
.nav-user__wrap {
    margin-left: 40.1rem;
    @media (max-width: $r_desk_hd_1300) {
        margin-left: 10rem;
    }
    @media (max-width: $r_desk_1000) {
        margin-left: 5rem;
    }
}

.header-user__user {
    margin-left: 2rem;
    margin-right: 0.2rem;
    @media (max-width: $r_tab_850) {
        letter-spacing:0px;
        font-size: .9rem;
    }
    @media (max-width: $r_tab_850) {
        letter-spacing:0px;
        font-size: .9rem;
    }
    @media (max-width: $r_mob_650) {
        margin-left: 15rem;
    }
    @media (max-width: $r_mob_500) {
        margin-left: 2rem;
    }
    @media (max-width: $r_mob_360) {
        margin-left: 0rem;
    }
}