.contact
    li.contact-item 
        a(href="/mock-address/change-me").contact-link
            img(src=require("./twitter.svg"), alt="twitter")
    li.contact-item
        a(href="/mock-address/change-me").contact-link
            img(src=require("./facebook.svg"), alt="facebook") 
    li.contact-item
        a(href="/mock-address/change-me").contact-link
            img(src=require("./instagram.svg"), alt="instagram")
