.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    &-item {
        width: 2.4rem;
        height:2.4rem;
        border: none;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
    &-twitter {
        background-image: url('../Ul_kit/contacts/twitter.svg');
           
    }
    &-facebook {
        background-image: url('../Ul_kit/contacts/facebook.svg');
           
    }
    &-facebook  {
        background-image: url('../Ul_kit/contacts/instagram.svg');
    } 
    }             
}
