.header {
    background: rgba(255, 255, 255, 1);
    max-width: 144rem;
    margin: 0 auto;
    &__container {
        max-width: 117.5rem;
        max-height: 3.8rem;
        background: rgba(255, 255, 255, 1);
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: .3rem;
        padding-right: 1.5rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        margin: 0 auto;
    }
    
}

.logo-header__wrap {
    margin-left: 1rem;
    @media (max-width: $r_mob_360) {
        margin-left: .5rem;  
    }
}

.nav__wrap {
    margin-left: 24.9rem;
    margin-right: 1.99rem;
    @media (max-width: $r_desk_md_1500) {
        margin-left:13rem;
        margin-right: 6rem;
    @media (max-width: $r_desk_hd_1300) {
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 1.2rem;
    }
    @media (max-width: $r_desk_1000) {
        margin-left: .5rem;
        margin-right: .3rem;
        font-size: 1rem;
    } 
    }
}

.header__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
  @media (max-width: $r_desk_hd_1300) {
    margin-right: 10rem;
  }
  @media (max-width: $r_desk_1000) {
    margin-right:5rem;
  }
  @media (max-width: $r_tab_850) {
    margin-right:.5rem;
  }
   @media (max-width:$r_mob_400) {
        display: none;
    }
}

.header__btn-border {
    margin-right: 1.4rem;
    @media (max-width: $r_desk_hd_1300) {
        margin-right: 1rem;
    }
    @media (max-width: $r_desk_1000) {
        margin-right: .5rem;
    }
    @media (max-width: $r_tab_850) {
        margin-right:.2rem;
      }
    @media (max-width: $r_mob_360) {
        margin-right:-1rem;
    }
    
}
.burger {
    display: none;
    background-color:$bg-gradient-safe;
    border: none;
    width: 50px;
    @media (max-width: $r_mob_650) {
        display: block;
        width: 7rem;
        margin-right: .1rem;
    }
    @media (max-width: $r_mob_400) {
        width: 7rem;
        margin-right: -1rem;
    }
    &__item {
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: 15px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        @media (max-width: $r_mob_650) {
            height: 5px;
            
        }
        &:last-child {
            margin-bottom: 0;
        }

    }

}