header
    .header
        .header__container
            .logo-header__wrap
                include  ../../../logo/logo.pug
            .nav__wrap
                include  ../../../nav/nav.pug
            .header__btn 
                .header__btn-border
                    +btm('Войти')
                .header__btn-colors
                    +btn('зарегистрироваться')
            .burger
                a(href="/mock-address/change-me").burger__link
                    span.burger__item 
                    span.burger__item 
                    span.burger__item
                





