header
    .header
        .header__container
            .logo-header-wrap
                include  ../../../logo/logo.pug
            .nav-wrap 
                include  ../../../nav/nav.pug
            .header__btn 
                .header__btn-border
                    +btm('Войти')
                .header__btn-colors
                    +btn('зарегистрироваться')
            button.burger
                span.burger__item 
                span.burger__item 
                span.burger__item
                





