nav
    ul.nav 
        li.nav-item 
            a(href="/mock-address/change-me").nav-link.active О нас
        li.nav-item
            a(href="/mock-address/change-me").nav-link Услуги
                .nav-link-arrow 
        li.nav-item
            a(href="/mock-address/change-me").nav-link Вакансии
        li.nav-item
            a(href="/mock-address/change-me").nav-link Новости
        li.nav-item
            a(href="/mock-address/change-me").nav-link Соглашения
                .nav-link-arrow 