.footer-bottom {
    background: rgba(255, 255, 255, 1);
    max-width: 144rem;
    margin: 0 auto;
    &__container {
        max-width: 117.5rem;
        max-height: 3.8rem;
        background: rgba(255, 255, 255, 1);
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: .3rem;
        padding-right: 1.5rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        margin: 0 auto;
    }
    &__text {
      margin-left: 1.3rem; 
      white-space: nowrap;
    }
    &__contact {
        margin-right: .2rem; 
        
      }
}

