footer 
    .footer-bottom 
        .footer-bottom__container
            .footer-bottom__text
                +footertext
            .footer-bottom__contact 
                include  ../../../contacts/contact.pug