.footer {
    background: rgba(255, 255, 255, 1);
    max-width: 144rem;
    margin: 0 auto;
    &__container {
        max-width: 117.5rem;
        height: 34rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: .3rem;
        padding-right: 1.5rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        margin: 0 auto;
        @media (max-width: $r_desk_hd_1300) {
            font-size: 1rem;
        }
        @media (max-width: $r_desk_1000) {
            display: grid;
            justify-content: center;
            grid-template-columns: 2fr 3fr 1fr;
            gap: 2rem;
            margin-bottom: 3rem;
            margin-left: 5rem;
            margin-right: 5rem;
           
        }
        // @media (max-width: $r_desk_1000) {
        //     display: none;
            
        // }
    }
    &-item {
        &:nth-child(1) {
            margin-left: 1rem;
            // grid-area: a;

        }
        &:nth-child(2) {
            margin-left: 4.6rem;
            @media (max-width: $r_desk_hd_1300) {
                margin-left: 2rem;
                // grid-area: b;
            }
            @media (max-width: $r_desk_1000) {
                margin-left: 10rem;
                // grid-area: b;
            }
        }
        &:nth-child(3) {
            margin-left: 3.8rem;
            // grid-area: c;
            @media (max-width: $r_desk_hd_1300) {
                margin-left: 2rem;
                
            }
        }
        &:nth-child(4) {
            margin-left: 7.3rem;
            margin-bottom: 3.8rem;
            // grid-area: d;
            @media (max-width: $r_desk_hd_1300) {
                margin-left: 2rem;
                
            }
            @media (max-width: $r_desk_1000) {
                margin-left: 15rem;
                
            }
        }
        &:nth-child(5) {
            margin-left: 3.1rem;
            margin-right: 1rem;
            margin-bottom: 4.1rem;
            // grid-area: e;
            @media (max-width: $r_desk_hd_1300) {
                margin-left: 1.5rem;
                
            }
        }
    }
    &__logo-wrap {
        margin-bottom: 1.8rem;
    }
    &__text-wrap {
       margin-bottom: 4rem;
        white-space: nowrap;
        margin-left: 0.4rem;
        line-height: 1.7;
    }
    &-list {
        white-space: nowrap;
        list-style: none;
        padding-left: 0;
        margin: 0;
        &:nth-child(1) {
            margin-top: 2.4rem;
            margin-right: 2rem;
            line-height: 1.3;
        }
        &__item {
            margin-bottom:2rem ;
            &-form {
                
                margin-top:1rem;
            }
        }
        &__link {
            font-size: 1.4rem;
            color: $Dark50;
            text-decoration: none;
            @media (max-width: $r_desk_hd_1300) {
                font-size: 1rem;
            }
            &-title {
            color: $Dark50;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-decoration: none;
            list-style: none;
            font-weight: 700;
            @media (max-width: $r_desk_hd_1300) {
                font-size: 1rem;
                
            }
            }
            &-text {
                list-style: none;
                text-decoration: none;
                font-size: 1.4rem;
                color: $Dark50;
                line-height: 1.7;
                @media (max-width: $r_desk_hd_1300) {
                    font-size: 1rem;
                    
                }
            }

        }
} 
}
.footer__mobile-wrap {
    display: none;
        
    
}