footer 
    .footer-mobile
        .footer-mobile__container
            .footer-mobile__logo-wrap
                include  ../../../logo/logo.pug
            .footer-mobile__text-wrap
                +footertext
            .footer-mobile__contacts-wrap
                include  ../../../contacts/contact.pug
