mixin btm(title)
    button.buttonborder__btn #{title}

mixin btn(title)
    button.buttoncolor__btn #{title}

mixin user(user)
    li.user 
        a(href="/mock-address/change-me").user-link #{user}
    //- #{title}