mixin btm(title)
    button.buttonborder__btn #{title}

mixin btn(title)
    button.buttoncolor__btn #{title}

mixin footertext
    span.footer-bottom-text Copyright © 2018 Toxin отель. Все права защищены.

mixin text
    span.text 
    |Бронирование номеров в лучшем <br>
    |отеле 2019 года по версии<br>
    | ассоциации «Отельные взгляды»

