mixin btm(title)
    button.buttonborder__btn #{title}

mixin btn(title)
    button.buttoncolor__btn #{title}

mixin footertext
    span.footer-bottom-text Copyright © 2018 Toxin отель. Все права защищены.


