-var pageTitle ='Online'

    include  mixins/mixins.pug


doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PageTitle
    body
        include  Ul_kit/headers_footers/headers/header/header.pug
        //- include  Ul_kit/headers_footers/footers/footer-mobile/footer-mobile.pug

        //- include  nav/nav.pug

        
        



       
        



